@import "./icons.css";
@import "./fallback.css";

/* Disable the -webkit-details-marker when the summary has the `list-none` class */
@utility list-none {
    &::-webkit-details-marker {
        display: none;
    }
}

@utility ambar-action-btn {
    @apply rounded-sm text-center text-sm transition-colors focus:drop-shadow hover:drop-shadow px-2 py-4;
}
