<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Newsletter subscription success"}} @-->
<!--@vars {
"var subscriber_data.unsubscription_link":"Subscriber Unsubscription URL",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->


{{template config_path="design/email/header_template"}}

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
    <tr>
        <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; vertical-align:top; padding-bottom:20px">
            <p style="margin-top:0; margin-bottom:10px; line-height:1.5; color:#333;">{{trans "You have been successfully subscribed to our newsletter."}}</p>
            <p style="margin-top:0; margin-bottom:10px; line-height:1.5; color:#333;">
                {{trans "Follow this link to unsubscribe"}}
                <!-- This tag is for unsubscribe link  -->
                <a href="{{var subscriber_data.unsubscription_link}}" style="color:#1e7701; text-decoration:none; font-weight:bold;">
                    {{var subscriber_data.unsubscription_link}}
                </a>
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
