/**
 * Welcome to your Hyv채 Theme!
 *
 * This is the main entry file for your theme's CSS, processed by Tailwind CSS.
 *
 * If you're new to TailwindCSS, get started with the official documentation:
 * https://tailwindcss.com/
 *
 * To learn about creating a Hyv채 Theme, check out the build guide:
 * https://docs.hyva.io/hyva-themes/building-your-theme/index.html
 *
 * For Hyv채-specific topics, such as merging module CSS or using design tokens,
 * please refer to the documentation:
 * https://docs.hyva.io/hyva-themes/working-with-tailwindcss/index.html
 */

@import "@hyva-themes/hyva-modules/css";
@import "tailwindcss" source(none);

@source "../../**/*.phtml";
@source "../../**/*.xml";

/* Custom styles */
@import "./base";
@import "./components";
@import "./theme";
@import "./utilities";

/* Import generated styles for Hyv채 Compatible Modules and Design Tokens */
@import "./generated/hyva-source.css";
@import "./generated/hyva-tokens.css";

@theme {
    --color-bg: var(--color-slate-50);
    --color-fg: var(--color-slate-950);
    --color-fg-secondary: var(--color-slate-600);
    --color-surface: var(--color-white);

    /* Amasty GDPR Hyva background images fix for Tailwind v4 */
    --background-image-amgdpr-anonymize-active: url("https://gardenlawn.pl/static/frontend/GardenLawn/Hyvatheme/pl_P/Amasty_GdprHyva/svg/active/anonymize.svg");
    --background-image-amgdpr-consents-active: url("https://gardenlawn.pl/static/frontend/GardenLawn/Hyvatheme/pl_PL/Amasty_GdprHyva/svg/active/consents.svg");
    --background-image-amgdpr-delete-active: url("https://gardenlawn.pl/static/frontend/GardenLawn/Hyvatheme/pl_PL/Amasty_GdprHyva/svg/active/delete.svg");
    --background-image-amgdpr-download-active: url("https://gardenlawn.pl/static/frontend/GardenLawn/Hyvatheme/pl_PL/Amasty_GdprHyva/svg/active/download.svg");
    --background-image-amgdpr-dpoinfo-active: url("https://gardenlawn.pl/static/frontend/GardenLawn/Hyvatheme/pl_PL/Amasty_GdprHyva/svg/active/dpoinfo.svg");
    --background-image-amgdpr-policy-active: url("https://gardenlawn.pl/static/frontend/GardenLawn/Hyvatheme/pl_PL/Amasty_GdprHyva/svg/active/policy.svg");
    --background-image-amgdpr-anonymize-solid: url("https://gardenlawn.pl/static/frontend/GardenLawn/Hyvatheme/pl_PL/Amasty_GdprHyva/svg/solid/anonymize.svg");
    --background-image-amgdpr-consents-solid: url("https://gardenlawn.pl/static/frontend/GardenLawn/Hyvatheme/pl_PL/Amasty_GdprHyva/svg/solid/consents.svg");
    --background-image-amgdpr-delete-solid: url("https://gardenlawn.pl/static/frontend/GardenLawn/Hyvatheme/pl_PL/Amasty_GdprHyva/svg/solid/delete.svg");
    --background-image-amgdpr-download-solid: url("https://gardenlawn.pl/static/frontend/GardenLawn/Hyvatheme/pl_PL/Amasty_GdprHyva/svg/solid/download.svg");
    --background-image-amgdpr-dpoinfo-solid: url("https://gardenlawn.pl/static/frontend/GardenLawn/Hyvatheme/pl_PL/Amasty_GdprHyva/svg/solid/dpoinfo.svg");
    --background-image-amgdpr-policy-solid: url("https://gardenlawn.pl/static/frontend/GardenLawn/Hyvatheme/pl_PL/Amasty_GdprHyva/svg/solid/policy.svg");
}
