@import url("theme/components/footer.css");
@import url("theme/components/header.css");
@import url("theme/components/page.css");
@import url("theme/components/category.css");
@import url("theme/components/customer.css");
@import url("theme/components/recaptcha.css");
@import url("theme/components/sales.css");
@import url("theme/components/style/forms.css");
@import url("theme/components/style/layout.css");
