@import "./preflight.css";
@import "./print.css";

@layer base {
    @view-transition {
        navigation: auto;
    }

    :root {
        scrollbar-color: var(--scrollthumb-color, var(--color-primary)) var(--scrolltrack-color, #0000);
        accent-color: var(--color-primary);
        caret-color: var(--color-primary);
        interpolate-size: allow-keywords;
    }

    body {
        background: var(--color-bg);
        color: var(--color-fg);
    }
}

#shipping-method-list img {
    height: revert !important;
    width: revert !important;
    min-height: 20px !important;
    max-height: 20px !important;
}

#payment-method-list img {
    height: revert !important;
    width: revert !important;
    min-height: 30px !important;
    max-height: 40px !important;
}

/* For AlpineJS */
[x-cloak] {
    display: none !important;
}
