<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Header"}} @-->
<!--@vars {
"var logo_url":"Email Logo Image URL",
"var logo_alt":"Email Logo Alt Text",
"var logo_height":"Email Logo Image Height",
"var logo_width":"Email Logo Image Width",
"var template_styles|raw":"Template CSS"
} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        {{var template_styles|raw}}
        {{css file="css/email.css"}}
    </style>
</head>
<body style="background-color:#f6f6f6; margin:0; padding:0;">
{{inlinecss file="css/email-inline.css"}}

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f6f6f6;">
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="600" class="wrapper" style="background-color: #ffffff; border-radius: 8px; margin-top: 20px; overflow: hidden;">
                <!-- HEADER -->
                <tr>
                    <td align="center" style="background-color: #ffffff; padding: 20px; border-bottom: 4px solid #1e7701;">
                        <a class="logo" href="{{store url=""}}">
                            <img
                                {{if logo_width}}
                                    width="{{var logo_width}}"
                                {{else}}
                                    width="180"
                                {{/if}}
                                {{if logo_height}}
                                    height="{{var logo_height}}"
                                {{/if}}
                                src="https://pub.gardenlawn.pl/media/images/logo.png"
                                alt="{{var logo_alt}}"
                                border="0"
                                style="display: block;"
                            />
                        </a>
                    </td>
                </tr>
                <!-- CONTENT -->
                <tr>
                    <td align="center" class="main-content" style="padding: 20px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    <!-- Begin Content -->
